USE [NexgenQMSARPresenceHealth]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [AdroitARARAGEN1].[spNGQMS_GETProductionReassignUploadSummary]
        @pUploadedBy							INT
	   ,@pAuditFormID							INT
	   ,@pJsonUploadAccountDetails				NVARCHAR(MAX)=''
	   ,@pAuditLevel							INT
	   ,@pAuditType								INT -- 1 - ManualFetch AND 2 - SystemFetch
	   ,@pActionFromStatus						INT 
	   ,@pQMSSchemaName							VARCHAR(255)
	   ,@pNGSchemaName							VARCHAR(255)
	   ,@pIsDebug								BIT=0
	   
AS
BEGIN
SET NOCOUNT ON;
	set XACT_ABORT on
	Declare @InvalidAccountCount	INT=0
	Declare @validAccountCount		INT=0
	Declare @UploadedAccountCount	INT=0
	Declare @UploadTypeID			INT=0
	Declare @UploadTemplateID		INT=0
	Declare @AuditDataSourceID		INT=0
	Declare @CommentsRequired		BIT=0

	DELETE FROM tblStagingProductionReassignUploadAccounts WHERE AuditFormID=@pAuditFormID AND AuditLevel=@pAuditLevel;

	IF (ISJSON(@pjsonUploadAccountdetails) = 0)
	BEGIN
		SELECT
			-1 StatusCode
		,'InValid Excel Data' Status
		FOR JSON PATH
		RETURN;
	END

	IF(@pJsonUploadAccountDetails!='' AND @pJsonUploadAccountDetails!='[]' AND @pJsonUploadAccountDetails IS NOT NULL)
	BEGIN	
		INSERT INTO tblStagingProductionReassignUploadAccounts
		(
			 FetchLogID
			,AuditFormID
			,AuditLevel
			,ActionComments
			,AuditStatus
		)
		SELECT
			 LogID
			,@pAuditFormID
			,@pAuditLevel
			,LTRIM(RTRIM(ReassignComments))
			,LTRIM(RTRIM(ReassignStatus))
		FROM OPENJSON(@pJsonUploadAccountDetails)
		WITH
			(
			 LogID				INT
			,ReassignComments	VARCHAR(1000)
			,ReassignStatus     VARCHAR(25)
			);
	END

	IF EXISTS (SELECT TOP 1 1 FROM tblStagingProductionReassignUploadAccounts WHERE AuditFormID=@pAuditFormID)
	BEGIN
		SELECT 
			 @AuditDataSourceID=AuditDataSourceID 
			,@CommentsRequired=IIF(@pAuditLevel=1,ISNULL(FLReassignComment,0),IIF(@pAuditLevel=2,ISNULL(SLReassignComment,0),ISNULL(TLReassignComment,0)))
		FROM NexgenQMS.dbo.tblPGAuditForms 
		WHERE AuditFormID=@pAuditFormID 
			AND AuditFormStatus='P';

		SELECT 
			@UploadedAccountCount=COUNT(1)
		FROM tblStagingProductionReassignUploadAccounts SPRU
		WHERE SPRU.AuditFormID=@pAuditFormID 
			AND SPRU.AuditLevel=@pAuditLevel;


		UPDATE SPRU
			SET UploadedStatus = IIF(@pAuditType=1 AND @pActionFromStatus=5 AND SPRU.AuditStatus='UnAssign','SUCCESS'
								,IIF(@pAuditType=2 AND @pActionFromStatus=6 AND SPRU.AuditStatus='UnHold','SUCCESS'
								,IIF(@pAuditType=2 AND @pActionFromStatus=5 AND SPRU.AuditStatus='Hold','SUCCESS'
								,IIF(@pAuditType=2 AND @pActionFromStatus=5 AND SPRU.AuditStatus='UnAssign','SUCCESS','Invalid ReassignStatus.'))))

			   ,ToAuditStatusID =IIF(@pAuditType=1 AND @pActionFromStatus=5 AND SPRU.AuditStatus='UnAssign',8
								,IIF(@pAuditType=2 AND @pActionFromStatus=6 AND SPRU.AuditStatus='UnHold',8
								,IIF(@pAuditType=2 AND @pActionFromStatus=5 AND SPRU.AuditStatus='Hold',6
								,IIF(@pAuditType=2 AND @pActionFromStatus=5 AND SPRU.AuditStatus='UnAssign',8,0))))
		FROM tblStagingProductionReassignUploadAccounts SPRU
		WHERE AuditFormID=@pAuditFormID 
			AND AuditLevel=@pAuditLevel;


		IF EXISTS (SELECT TOP 1 1 FROM tblStagingProductionReassignUploadAccounts WHERE UploadedStatus='SUCCESS')
		BEGIN
			IF(@CommentsRequired=1)
			BEGIN
				UPDATE SPRU
					SET UploadedStatus='ReassignComments Should Not Empty.'
				FROM tblStagingProductionReassignUploadAccounts SPRU
				WHERE SPRU.AuditFormID=@pAuditFormID 
					AND SPRU.AuditLevel=@pAuditLevel 
					AND SPRU.UploadedStatus='SUCCESS'
					AND ISNULL(SPRU.ActionComments,'')='';
			END

			UPDATE SPRU
				SET UploadedStatus='In ReassignComments Initial Three Letter Should be in AlphaNumeric.'
			FROM tblStagingProductionReassignUploadAccounts SPRU
			WHERE SPRU.AuditFormID=@pAuditFormID 
				AND SPRU.AuditLevel=@pAuditLevel 
				AND SPRU.UploadedStatus='SUCCESS'
				AND SUBSTRING(SPRU.ActionComments, 1, 3) LIKE '%[^A-Za-Z0-9]%';

			IF(@pAuditType=1)
			BEGIN
				UPDATE SPRU
					SET UploadedStatus='Invalid LogID.'
				FROM tblStagingProductionReassignUploadAccounts SPRU
				LEFT JOIN tblAuditTouchLogs ATL 
					ON SPRU.FetchLogID=ATL.AuditTouchLogID
					AND SPRU.AuditFormID=ATL.AuditFormID 
					AND SPRU.AuditLevel=ATL.AuditLevel
					AND ATL.FetchedOnIST IS NOT NULL
					AND ATL.SkippedOnIST IS NULL
					AND ATL.AuditedOnIST IS NULL
				WHERE SPRU.AuditFormID=@pAuditFormID
					AND SPRU.AuditLevel=@pAuditLevel
					AND SPRU.UploadedStatus='SUCCESS'
					AND ATL.AuditTouchLogID IS NULL;				
			END		  
			ELSE 
			BEGIN
				UPDATE SPRU
					SET UploadedStatus='Invalid LogID.'
				FROM tblStagingProductionReassignUploadAccounts SPRU
				LEFT JOIN tblSystemFetchLogs SFL 
					ON SPRU.FetchLogID=SFL.SystemFetchLogID
						AND SPRU.AuditFormID=SFL.AuditFormID 
						AND SPRU.AuditLevel=SFL.AuditLevel
						AND SFL.ActionStatusID=@pActionFromStatus
				WHERE SPRU.AuditFormID=@pAuditFormID
					AND SPRU.AuditLevel=@pAuditLevel
					AND SPRU.UploadedStatus='SUCCESS'
					AND SFL.SystemFetchLogID IS NULL;
			END
		END

		SELECT 
			@InvalidAccountCount=COUNT(1)
		FROM tblStagingProductionReassignUploadAccounts SPRU
		WHERE SPRU.AuditFormID=@pAuditFormID 
			AND SPRU.AuditLevel=@pAuditLevel
			AND SPRU.UploadedStatus<>'SUCCESS';

		SELECT @validAccountCount=IIF(@UploadedAccountCount=@InvalidAccountCount,0,@UploadedAccountCount-@InvalidAccountCount);

		SELECT
		(
			SELECT @UploadedAccountCount AS UploadedAccountCount
			,@InvalidAccountCount AS InvalidAccountCount
			,@validAccountCount AS ValidAccountCount
			,(
				SELECT 
					 FetchLogID AS LogID
					,ActionComments AS ReassignComments
					,AuditStatus AS ReassignStatus
					,UploadedStatus AS Result
			 FROM tblStagingProductionReassignUploadAccounts  
			 WHERE AuditFormID=@pAuditFormID
				AND AuditLevel=@pAuditLevel
				AND UploadedStatus<>'SUCCESS'
			 FOR JSON PATH
			 ) AS InvalidData
			FOR JSON PATH 
		)AS [Data]

	END
	ELSE 
	BEGIN
		SELECT
			-1 StatusCode
		,'No data available to upload.' Status
		FOR JSON PATH
		RETURN;
	END
END
