USE [NexgenQMSARPresenceHealth]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [AdroitARARAGEN1].[spNGQMS_UpdateProductionReassignUploadedData] 
	@pAuditFormID				INT,
	@pAuditType					INT,
	@pFromActionStatusID		INT,
	@pNGDatabaseName			VARCHAR(100),
	@pQMSDatabaseName			VARCHAR(100),
	@pEmployeeID				INT,
	@pAuditLevel				INT,
    @pFromDate					DATETIME,
    @pToDate					DATETIME,
	@pIsDebug					INT=0
AS
BEGIN
	SET NOCOUNT ON;
	set XACT_ABORT on
	BEGIN TRY
		DECLARE 
			@AuditDataSourceID				INT,
			@GetDateTimeIST					DATETIME=HRMS.dbo.FNHRMS_CONVERTIST(GETDATE()),		
			@ProcedureName					VARCHAR(100)='[AdroitARARAGEN1].[spNGQMS_UpdateProductionReassignUploadedData]',
			@Query							NVARCHAR(MAX)='',
			@UploadTemplateID				INT,
			@UploadTypeID					INT,
			@ErrorMessage					VARCHAR(MAX),
			@MapNG							BIT,
			@IsReassignCommentRequired		BIT,
			@CommentEmptyCount				INT,
			@InvalidCommentsCount			INT,
			@InvalidStatusCount				INT,
			@InvalidStatusIDCount			INT,
			@TableName						VARCHAR(100)='',
			@TableJoinCondition				VARCHAR(250)='',
			@OnCondition					VARCHAR(50)='',
			@AuditLevelColumnName			VARCHAR(150)='',
			@DateJoinCondition				VARCHAR(150)='';

		SELECT 
			 @AuditDataSourceID=AuditDataSourceID
			,@UploadTemplateID=UploadTemplateID
			,@IsReassignCommentRequired=IIF(@pAuditLevel=1,ISNULL(FLReassignComment,0),IIF(@pAuditLevel=2,ISNULL(SLReassignComment,0),ISNULL(TLReassignComment,0)))
		FROM NexgenQMS.dbo.tblPGAuditForms
		WHERE AuditFormID=@pAuditFormID
			AND AuditFormStatus='P';


		IF (@AuditDataSourceID=2)
		BEGIN
			SELECT 
				 @MapNG=PGUT.MapNGUniqueColumns
				,@UploadTypeID=PGUT.UploadTypeID
			FROM  NexgenQMS.dbo.tblPGUploadTemplates PGUT
			WHERE PGUT.UploadTemplateID=@UploadTemplateID;
		END


		SELECT 
			@InvalidStatusCount=COUNT(1)
		FROM tblStagingProductionReassignUploadAccounts SPRU
		WHERE SPRU.AuditFormID=@pAuditFormID 
			AND SPRU.AuditLevel=@pAuditLevel 
			AND SPRU.UploadedStatus='SUCCESS'
			AND AuditStatus NOT IN('UnAssign','UnHold','Hold')

		SELECT 
			@InvalidStatusIDCount=COUNT(1)
		FROM tblStagingProductionReassignUploadAccounts SPRU
		WHERE SPRU.AuditFormID=@pAuditFormID 
			AND SPRU.AuditLevel=@pAuditLevel 
			AND SPRU.UploadedStatus='SUCCESS'
			AND ISNULL(ToAuditStatusID,0)=0

		SELECT 
			@InvalidCommentsCount=COUNT(1)
		FROM tblStagingProductionReassignUploadAccounts SPRU
		WHERE SPRU.AuditFormID=@pAuditFormID 
			AND SPRU.AuditLevel=@pAuditLevel 
			AND SPRU.UploadedStatus='SUCCESS'
			AND SUBSTRING(SPRU.ActionComments, 1, 3) LIKE '%[^A-Za-Z0-9]%';


		IF(@pIsDebug=1)
		BEGIN
			SELECT 
				@AuditDataSourceID AS AuditDataSourceID,
				@UploadTemplateID As UploadTemplateID,
				@IsReassignCommentRequired As IsReassignCommentRequired,
				@MapNG AS MapNG,
				@UploadTypeID As UploadTypeID,
				@InvalidStatusCount As InvalidStatusCount,
				@InvalidStatusIDCount AS InvalidStatusIDCount,
				@InvalidCommentsCount As InvalidCommentsCount
		END

		IF(@IsReassignCommentRequired=1)
		BEGIN
			SELECT 
				@CommentEmptyCount=COUNT(1)
			FROM tblStagingProductionReassignUploadAccounts SPRU
			WHERE SPRU.AuditFormID=@pAuditFormID
				AND SPRU.AuditLevel=@pAuditLevel
				AND SPRU.UploadedStatus='SUCCESS'
				AND ISNULL(SPRU.ActionComments,'')='';

			IF(@CommentEmptyCount>0)
			BEGIN
				SELECT 
	  				-1 Errorcode
					,'Comments should not blank for selected account.' Errorstatus
				FOR JSON PATH;
				RETURN;
			END
		END

		IF(@InvalidCommentsCount>0)
		BEGIN
			SELECT 
	  			-1 Errorcode
				,'In ReassignComments initial three letter should be in alphanumeric.' Errorstatus
			FOR JSON PATH;
			RETURN;
		END
		ELSE IF(@InvalidStatusCount>0)
		BEGIN
			SELECT 
	  			-1 Errorcode
				,'Uploaded data has invalid ReassignStatus.' Errorstatus
			FOR JSON PATH;
			RETURN;
		END
		ELSE IF(@InvalidStatusIDCount>0)
		BEGIN
			SELECT 
	  			-1 Errorcode
				,'Uploaded data has invalid ReassignStatus.' Errorstatus
			FOR JSON PATH;
			RETURN;
		END
		ELSE
		BEGIN
			BEGIN TRAN			
			IF (@pAuditType=2)
			BEGIN
				UPDATE SFL
					SET SFL.ActionStatusID  = IIF(@pFromActionStatusID=5 AND ToAuditStatusID=6,6,IIF(@pFromActionStatusID=5 AND ToAuditStatusID=8,10,9))
						,SFL.ActionByID	    = @pEmployeeID
						,SFL.ActionedOnIST  = @GetDateTimeIST
				FROM tblStagingProductionReassignUploadAccounts SPRU
				INNER JOIN tblSystemFetchLogs SFL
						ON SPRU.FetchLogID=SFL.SystemFetchLogID
						AND SPRU.AuditLevel=SFL.AuditLevel
						AND SPRU.AuditFormID=SFL.AuditFormID
						AND SPRU.UploadedStatus='SUCCESS';

				INSERT INTO tblSystemFetchLogHistories(AuditFormID,AccountID,AuditLevel,AuditFormRuleHistoryID,InternalAgentQIPHistoryID
				,ClientAgentQIPHistoryID,AuditID,ActionStatusID,ActionByID,ActionedOnIST,ActionComments)
				SELECT
					 SFL.AuditFormID
					,SFL.AccountID
					,SFL.AuditLevel
					,SFL.AuditFormRuleHistoryID
					,SFL.InternalAgentQIPHistoryID
					,SFL.ClientAgentQIPHistoryID
					,SFL.AuditID
					,SFL.ActionStatusID
					,SFL.ActionByID
					,SFL.ActionedOnIST
					,IIF(ISNULL(SPRU.ActionComments,'')='',NULL,SPRU.ActionComments)
				FROM tblStagingProductionReassignUploadAccounts SPRU
				INNER JOIN tblSystemFetchLogs SFL
						ON SPRU.FetchLogID=SFL.SystemFetchLogID
						AND SPRU.AuditLevel=SFL.AuditLevel
						AND SPRU.AuditFormID=SFL.AuditFormID
						AND SPRU.UploadedStatus='SUCCESS';
			END

			IF(@pIsDebug=1)
			BEGIN
				SELECT 
					@pAuditType AS pAuditType
			END

			IF(@pAuditType=1)
			BEGIN
				SELECT @TableName='tblAuditTouchLogs'
				SELECT @TableJoinCondition=' AND DYNTBL.FetchedOnIST IS NOT NULL AND DYNTBL.AuditedOnIST IS NULL AND DYNTBL.SkippedOnIST IS NULL '
				SELECT @OnCondition='AuditTouchLogID'
				--SELECT @DateJoinCondition=' AND DYNTBL.FetchedOnIST BETWEEN @pFromDate AND @pToDate'
			END
			ELSE 
			BEGIN
				SELECT @TableName='tblSystemFetchLogs'
				SELECT @TableJoinCondition=''
				SELECT @OnCondition='SystemFetchLogID'
				--SELECT @DateJoinCondition=' AND DYNTBL.ActionedOnIST BETWEEN @pFromDate AND @pToDate'
			END


			SELECT @AuditLevelColumnName=IIF(@pAuditLevel=1,'FirstLevelAuditStatusID',IIF(@pAuditLevel=2,'SecondLevelAuditStatusID','ThirdLevelAuditStatusID'))

			IF (@AuditDataSourceID=1)
			BEGIN
				IF(@pAuditLevel=1)
				BEGIN
					SELECT @Query='UPDATE TAD SET TAD.'+@AuditLevelColumnName+'=SPRU.ToAuditStatusID FROM '+@pQMSDatabaseName+'.tblStagingProductionReassignUploadAccounts SPRU
						INNER JOIN '+@pQMSDatabaseName+'.'+@TableName+' DYNTBL ON SPRU.FetchLogID=DYNTBL.'+@OnCondition+' AND SPRU.AuditLevel=DYNTBL.AuditLevel 
						INNER JOIN  '+@pNGDatabaseName+'.tblAccountDetailHistories TADH ON TADH.AccountTransactionID=DYNTBL.AccountID						
						INNER JOIN  '+@pNGDatabaseName+'.tblAccountDetails TAD ON TAD.AccountDetailID=TADH.AccountDetailID AND TAD.AccountHistoryID=TADH.AccountTransactionID						
						AND SPRU.AuditLevel=DYNTBL.AuditLevel AND SPRU.AuditFormID=DYNTBL.AuditFormID
						WHERE SPRU.AuditFormID=@pAuditFormID AND SPRU.AuditLevel=@pAuditLevel AND SPRU.UploadedStatus=''SUCCESS'' 
						AND TAD.'+@AuditLevelColumnName+'=@pFromActionStatusID '+@TableJoinCondition+' '+@DateJoinCondition+';'
				END

				SELECT @Query=@Query+' UPDATE TAD SET TAD.'+@AuditLevelColumnName+'=SPRU.ToAuditStatusID FROM '+@pQMSDatabaseName+'.tblStagingProductionReassignUploadAccounts SPRU
				INNER JOIN '+@pQMSDatabaseName+'.'+@TableName+' DYNTBL ON SPRU.FetchLogID=DYNTBL.'+@OnCondition+' AND SPRU.AuditLevel=DYNTBL.AuditLevel 					
				INNER JOIN  '+@pNGDatabaseName+'.tblAccountDetailHistories TAD ON TAD.AccountTransactionID=DYNTBL.AccountID						
				AND SPRU.AuditLevel=DYNTBL.AuditLevel AND SPRU.AuditFormID=DYNTBL.AuditFormID
				WHERE SPRU.AuditFormID=@pAuditFormID AND SPRU.AuditLevel=@pAuditLevel AND SPRU.UploadedStatus=''SUCCESS'' 
				AND TAD.'+@AuditLevelColumnName+'=@pFromActionStatusID '+@TableJoinCondition+' '+@DateJoinCondition+';'
			END

			ELSE IF @AuditDataSourceID=2
			BEGIN

				SELECT @Query='UPDATE AUA SET AUA.'+@AuditLevelColumnName+'=SPRU.ToAuditStatusID FROM '+@pQMSDatabaseName+'.tblStagingProductionReassignUploadAccounts SPRU
					INNER JOIN '+@pQMSDatabaseName+'.'+@TableName+' DYNTBL ON SPRU.FetchLogID=DYNTBL.'+@OnCondition+' AND SPRU.AuditLevel=DYNTBL.AuditLevel
					INNER JOIN '+@pQMSDatabaseName+'.tblAuditUploadAccounts AUA ON DYNTBL.AccountID=AUA.AuditUploadAccountID 
					WHERE DYNTBL.AuditFormID=@pAuditFormID AND DYNTBL.AuditLevel=@pAuditLevel AND SPRU.AuditFormID=@pAuditFormID AND SPRU.AuditLevel=@pAuditLevel 
					AND SPRU.UploadedStatus=''SUCCESS'' AND AUA.'+@AuditLevelColumnName+'=@pFromActionStatusID '+@TableJoinCondition+' '+@DateJoinCondition+';'

					IF(@MapNG=1 AND @UploadTypeID=3)
					BEGIN
						IF(@pAuditLevel=1)
						BEGIN
							SELECT @Query=@Query +' UPDATE TAD SET TAD.'+@AuditLevelColumnName+'=SPRU.ToAuditStatusID FROM '+@pQMSDatabaseName+'.tblStagingProductionReassignUploadAccounts SPRU
							INNER JOIN '+@pQMSDatabaseName+'.'+@TableName+' DYNTBL ON SPRU.FetchLogID=DYNTBL.'+@OnCondition+' AND SPRU.AuditLevel=DYNTBL.AuditLevel
							INNER JOIN '+@pQMSDatabaseName+'.tblAuditUploadAccounts AUA ON DYNTBL.AccountID=AUA.AuditUploadAccountID
							INNER JOIN '+@pNGDatabaseName+'.tblAccountDetails TAD ON  AUA.NGAccountID=TAD.AccountDetailID AND AUA.NGAccountHistoryID=TAD.AccountHistoryID 
							WHERE DYNTBL.AuditFormID=@pAuditFormID AND DYNTBL.AuditLevel=@pAuditLevel AND SPRU.AuditFormID=@pAuditFormID AND SPRU.AuditLevel=@pAuditLevel 
							AND SPRU.UploadedStatus=''SUCCESS'' AND TAD.'+@AuditLevelColumnName+'=@pFromActionStatusID '+@TableJoinCondition+' '+@DateJoinCondition+';'
						END

						SELECT @Query=@Query+' UPDATE TAD SET TAD.'+@AuditLevelColumnName+'=SPRU.ToAuditStatusID FROM '+@pQMSDatabaseName+'.tblStagingProductionReassignUploadAccounts SPRU
							INNER JOIN '+@pQMSDatabaseName+'.'+@TableName+' DYNTBL ON SPRU.FetchLogID=DYNTBL.'+@OnCondition+' AND SPRU.AuditLevel=DYNTBL.AuditLevel
							INNER JOIN '+@pQMSDatabaseName+'.tblAuditUploadAccounts AUA ON DYNTBL.AccountID=AUA.AuditUploadAccountID
							INNER JOIN '+@pNGDatabaseName+'.tblAccountDetailHistories TAD ON AUA.NGAccountHistoryID=TAD.AccountTransactionID AND AUA.NGAccountID=TAD.AccountDetailID
							WHERE DYNTBL.AuditFormID=@pAuditFormID AND DYNTBL.AuditLevel=@pAuditLevel AND SPRU.AuditFormID=@pAuditFormID AND SPRU.AuditLevel=@pAuditLevel 
							AND SPRU.UploadedStatus=''SUCCESS'' AND TAD.'+@AuditLevelColumnName+'=@pFromActionStatusID '+@TableJoinCondition+' '+@DateJoinCondition+';'
					END
			END

			IF(@pAuditType=1)
			BEGIN			
				SELECT @Query=@Query+ ' UPDATE DYNTBL SET DYNTBL.TouchedBy=@pEmployeeID,DYNTBL.SkippedOnIST=@GetDateTimeIST,ActionComments=IIF(ISNULL(SPRU.ActionComments,'''')='''',NULL,SPRU.ActionComments) FROM '+@pQMSDatabaseName+'.tblStagingProductionReassignUploadAccounts SPRU 
				INNER JOIN '+@pQMSDatabaseName+'.'+@TableName+' DYNTBL ON SPRU.FetchLogID=DYNTBL.'+@OnCondition+' AND SPRU.AuditLevel=DYNTBL.AuditLevel
				AND SPRU.AuditLevel=DYNTBL.AuditLevel AND SPRU.AuditFormID=DYNTBL.AuditFormID
				WHERE DYNTBL.AuditFormID=@pAuditFormID AND DYNTBL.AuditLevel=@pAuditLevel AND SPRU.AuditFormID=@pAuditFormID AND SPRU.AuditLevel=@pAuditLevel 
				AND SPRU.UploadedStatus=''SUCCESS'' '+@TableJoinCondition+' '+@DateJoinCondition+';'
			END

			EXECUTE SP_executesql @Query,N'@pFromActionStatusID INT,@pEmployeeID INT,@GetDateTimeIST DATETIME,@pAuditFormID INT,@pAuditLevel INT,@pFromDate VARCHAR(50),@pToDate VARCHAR(50)'
									,@pFromActionStatusID,@pEmployeeID,@GetDateTimeIST,@pAuditFormID,@pAuditLevel,@pFromDate,@pToDate


			SELECT 						  
				0 Errorcode
				,'Updated Successfully' Errorstatus
			FOR JSON PATH ; 

			IF @@TRANCOUNT>0
			BEGIN	
				COMMIT TRAN;
			END
		END
	END TRY
	BEGIN CATCH

		IF @@TRANCOUNT>0
		BEGIN	
			ROLLBACK TRAN;
		END

		SELECT @ErrorMessage=ERROR_MESSAGE() ;			
		
		EXEC NexgenQMS.dbo.[spNGQMS_InsertNexgenQMSErrorLog] @ProcedureName
															,''
															,@ErrorMessage
															,@pEmployeeID
															,@GetDateTimeIST;
		 
		SELECT 
			-1 Errorcode
			,'Update Failed' Errorstatus
		FOR JSON PATH ;	
	END CATCH ; 
END

/****** Object:  StoredProcedure [AdroitARARAGEN1].[spNGQMS_UpdateProductionReassignData]    Script Date: 10/3/2018 1:08:41 AM ******/
SET ANSI_NULLS ON
